html, body, textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html, body, textarea {
  font-family: "Pretendard";
  font-weight: 400;
}

.section {
  min-height: 50vh;
  width: 100%;
  min-width: 1280px;
}
.section.sec-01 {
  margin-top: -110px;
  background-image: url(../images/bg01.png);
  background-size: cover;
  height: 900px;
}
.section.sec-02 {
  background-color: #ffffff;
  height: 1030px;
}
.section.sec-03 {
  background-color: #efe0fc;
}
.section.sec-05 {
  background-color: #1a3569;
}
.section.sec-06 {
  background-color: #f3f7ff;
}
.section.sec-07 {
  background-color: #5a82b9;
}

.gnb {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  min-width: 1280px;
  border-bottom: 1px solid #eeeeee;
  z-index: 1;
}
.gnb .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 55px;
  box-sizing: border-box;
}
.gnb .container .btn-group .btn {
  width: 88px;
  margin-left: 3px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  height: 36px;
}
.btn.round {
  border-radius: 30px;
}
.btn.btn-black {
  background-color: #323232;
  color: #ffffff;
}
.btn.btn-blue {
  background-color: #114594;
  color: #ffffff;
}
.btn.btn-line {
  border: 1px solid #323232;
  color: #323232;
}

.section.sec-01 {
  position: relative;
}
.section.sec-01 .catch-phrase {
  position: absolute;
  top: 414px;
  left: 55px;
  color: #323232;
}
.section.sec-01 .catch-phrase .phrase-01 {
  margin: 0;
  font-size: 55px;
  line-height: 70px;
  font-weight: 700;
}
.section.sec-01 .catch-phrase .phrase-02 {
  margin-top: 33px;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}

.section.sec-02 .intro-service {
  max-width: 1280px;
  padding-top: 100px;
  margin: auto;
}
.section.sec-02 .intro-service > .title {
  text-align: center;
}
.section.sec-02 .intro-service > .title .tag {
  display: inline-flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 24px;
  border-radius: 30px;
  background-color: #2068cb;
}
.section.sec-02 .intro-service > .title .title-01 {
  margin-top: 26px;
  margin-bottom: 24px;
  font-size: 45px;
  color: #2068cb;
  font-weight: 700;
}
.section.sec-02 .intro-service > .title .sub {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #656565;
}
.section.sec-02 .intro-service .intro-grid {
  display: grid;
  grid-template-columns: repeat(2, 575px);
  grid-template-rows: repeat(2, 275px);
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.section.sec-02 .intro-service .intro-grid .card {
  position: relative;
  padding-left: 164px;
  padding-top: 64px;
  background-color: #f5f8fc;
  border-radius: 18px;
}
.section.sec-02 .intro-service .intro-grid .card .img-wrap {
  position: absolute;
  top: 60px;
  left: 45px;
}
.section.sec-02 .intro-service .intro-grid .card .description .title {
  color: #2068cb;
  font-size: 28px;
  font-weight: 700;
}
.section.sec-02 .intro-service .intro-grid .card .description .sub {
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px;
  color: #5a5a5a;
}

.section.sec-03 .intro-benefit {
  max-width: 1280px;
  text-align: center;
  padding: 133px 0;
  margin: auto;
}
.section.sec-03 .intro-benefit > .title {
  font-size: 44px;
  line-height: 55px;
  color: #47248c;
  font-weight: 700;
}
.section.sec-03 .intro-benefit .intro-grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(1, 343px);
  gap: 13px;
  justify-content: center;
  margin-top: 45px;
}
.section.sec-03 .intro-benefit .intro-grid .card {
  text-align: center;
  border-radius: 28px;
  background-color: #f7f0fe;
}
.section.sec-03 .intro-benefit .intro-grid .card .img-wrap {
  margin-top: 52px;
}
.section.sec-03 .intro-benefit .intro-grid .card .description .title {
  margin-top: 28px;
  color: #663fb4;
  font-size: 28px;
  font-weight: 700;
}
.section.sec-03 .intro-benefit .intro-grid .card .description .sub {
  margin-top: 30px;
  color: #474747;
  font-size: 18px;
  line-height: 30px;
}

.section.sec-04 .omni-compare {
  max-width: 1280px;
  text-align: center;
  padding: 130px 0;
  margin: auto;
}
.section.sec-04 .omni-compare > .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}
.section.sec-04 .omni-compare .diagram {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 400px);
  gap: 60px;
  padding: 0 55px;
  margin-top: 60px;
  background-image: url("../images/icon-arrow-tobe.png");
  background-position: center;
  background-repeat: no-repeat;
}
.section.sec-04 .omni-compare .diagram .as-is {
  position: relative;
  padding: 27px 17px 20px 17px;
  border-radius: 40px;
  background-color: #f3f3f3;
}
.section.sec-04 .omni-compare .diagram .as-is .title {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
.section.sec-04 .omni-compare .diagram .as-is .compare-list {
  background-color: #ffffff;
}
.section.sec-04 .omni-compare .diagram .as-is .compare-list ul > li:before {
  background-image: url("../images/icon-check-off.png");
}
.section.sec-04 .omni-compare .diagram .to-be {
  position: relative;
  padding: 27px 17px 20px 17px;
  border-radius: 40px;
  border: 3px solid #7b52cf;
}
.section.sec-04 .omni-compare .diagram .to-be .title {
  font-size: 30px;
  font-weight: 700;
  color: #47248c;
}
.section.sec-04 .omni-compare .diagram .to-be .compare-list {
  background-color: #f4f4f4;
}
.section.sec-04 .omni-compare .diagram .to-be .compare-list ul > li {
  font-size: 22px;
  font-weight: 600;
  color: #744ec1;
}
.section.sec-04 .omni-compare .diagram .to-be .compare-list ul > li:before {
  background-image: url("../images/icon-check-on.png");
}
.section.sec-04 .omni-compare .diagram .compare-list {
  position: absolute;
  bottom: 20px;
  left: 17px;
  right: 17px;
  top: 80px;
  text-align: left;
  border-radius: 24px;
  padding: 23px 20px;
}
.section.sec-04 .omni-compare .diagram .compare-list ul > li {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 14px 0;
  color: #666666;
}
.section.sec-04 .omni-compare .diagram .compare-list ul > li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 14px;
}

.section.sec-05 .service-step {
  max-width: 1280px;
  padding: 135px 55px 145px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}
.section.sec-05 .service-step > .title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 75px;
}
.section.sec-05 .service-step .diagram picture img {
  width: 100%;
}

.section.sec-06 .service-example {
  width: 100%;
  max-width: 1280px;
  padding: 80px 55px 90px;
  box-sizing: border-box;
  margin: auto;
}
.section.sec-06 .service-example > .title {
  text-align: center;
}
.section.sec-06 .service-example > .title .tag {
  display: inline-flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 24px;
  border-radius: 30px;
  background-color: #2068cb;
}
.section.sec-06 .service-example > .title .title-01 {
  margin-top: 26px;
  margin-bottom: 64px;
  font-size: 45px;
  color: #2068cb;
  font-weight: 700;
}
.section.sec-06 .service-example [class*=example-] {
  text-align: center;
}
.section.sec-06 .service-example [class*=example-] h3 {
  font-size: 22px;
  font-weight: 700;
  color: #181818;
  text-align: left;
}
.section.sec-06 .service-example [class*=example-] .grid {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(1, 200px);
  gap: 10px;
  justify-content: center;
}
.section.sec-06 .service-example [class*=example-] .grid .grid-item {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: left;
  padding: 30px 20px;
  word-break: keep-all;
}
.section.sec-06 .service-example [class*=example-] .grid .grid-item .tit {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.section.sec-06 .service-example [class*=example-] .grid .grid-item .desc {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #6a6a6a;
  letter-spacing: -1px;
}

.section.sec-07 {
  min-width: 1280px;
}
.section.sec-07 .contact {
  max-width: 1280px;
  padding: 0 55px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 70px;
}
.section.sec-07 .contact .title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.section.sec-07 .contact .input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.section.sec-07 .contact .input-group .input-wrap {
  border-radius: 10px;
  overflow: hidden;
}
.section.sec-07 .contact .input-group .input-wrap input {
  width: 100%;
  height: 48px;
  font-size: 18px;
  padding: 16px;
  vertical-align: middle;
  border: 0;
}
.section.sec-07 .contact .input-group .input-wrap textarea {
  width: 100%;
  font-size: 18px;
  padding: 16px;
  border: 0;
}
.section.sec-07 .contact .input-group .input-wrap input::placeholder, .section.sec-07 .contact .input-group .input-wrap textarea::placeholder {
  color: #9a9a9a;
}
.section.sec-07 .contact .input-group .input-wrap:nth-of-type(7) {
  grid-column: 1/4;
  grid-row: auto;
}
.section.sec-07 .contact .submit {
  margin-top: 18px;
  color: #ffffff;
  text-align: right;
}
.section.sec-07 .contact .submit .checkbox {
  display: inline-block;
  margin-right: 4px;
}
.section.sec-07 .contact .submit .checkbox input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.section.sec-07 .contact .submit a.link-to-term {
  color: #ffffff;
  text-decoration: underline;
}
.section.sec-07 .contact .submit .btn {
  width: 202px;
  height: 49px;
  font-size: 20px;
  font-weight: 500;
}
.section.sec-07 .contact .company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
}
.section.sec-07 .contact .company-info .label {
  font-weight: 700;
}
.section.sec-07 .contact .company-info .left > ul li {
  margin-top: 16px;
}
.section.sec-07 .contact .company-info .right {
  text-align: right;
}
.section.sec-07 .contact .company-info .right p {
  margin: 0;
}
.section.sec-07 .contact .company-info .right a.link-to-download {
  margin-left: 14px;
  color: #ffffff;
  text-decoration: underline;
}

footer .info {
  max-width: 1280px;
  padding: 56px 55px 75px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  font-size: 16px;
}
footer .info .company-name {
  margin-bottom: 15px;
  font-weight: 700;
  color: #000000;
}
footer .info .info-list ul > li {
  position: relative;
  color: #484848;
  margin-bottom: 14px;
  font-weight: 300;
}
footer .info .info-list ul > li:not(.block) {
  display: inline-block;
}
footer .info .info-list ul > li:not(.block):nth-of-type(n+2) {
  margin-left: 10px;
  padding-left: 10px;
}
footer .info .info-list ul > li:not(.block):nth-of-type(n+2):before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -2px;
  top: 5px;
  height: 12px;
  border-right: 1px solid #484848;
}
footer .info .info-list ul > li .label {
  font-weight: 700;
  color: #000000;
}
footer .info .copyright {
  font-size: 16px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 0;
}